@import "tailwindcss";

::-webkit-scrollbar{
    width: 10px !important;
    height: 5px !important;
    color: #FF6666 !important;
    background-color: #FF6666 !important;
}
::-webkit-scrollbar-thumb{ background-color: #ff7777 !important;}
.banner .swiper-button-next:after{
   font-size: 20px;
   font-weight: 900;
   color: black;
   padding: 10px 13px;
   border-radius: 50%;
    background-color: white;
    transition: 0.5s all;
}
.banner .swiper-button-next:hover::after{
    background-color: black;
    color: white;
}
.banner .swiper-button-prev:after{
   font-size: 20px;
   font-weight: 900;
   color: black;
   padding: 10px 13px;
   border-radius: 50%;
    background-color: white;
}
.banner .swiper-button-prev:hover::after{
    background-color: black;
    color: white;
}